@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');



*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Lato', sans-serif;
    /* background-color: aquamarine; */
}
/* ###############utility classes #################### */
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.btn{
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight:700;
}
.btn-primary{
    color: #fff;
    background-color: rgb(8, 139, 58);
}

/* ############ navbar styling ################# */
/* for desktop */
.navbar input[type='checkbox'],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 999;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.menu-items{
    order: 2;
    display: flex;
}
.menu-items li{
    list-style: none;
    display: flex;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}
.logo{
    order: 1;
    font-size: 3rem;
}
.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 700px;
    transition: color .3s ease-in-out;
}
.navbar a:hover{
    color: #117964;
    text-decoration: none;
    font-weight: 700px;
}
/* ############## showcase area #################### */
.showcase-area{
    height: 50vh;
    background: linear-gradient(rgba(240, 240, 240, 0.144), rgba(255, 255, 255, 0.336)),url(images/Search_131.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}
.main-title{
    text-transform: uppercase;
}


/* ########################about us################ */
#about{
    padding: 50px 0px;
    background: #f5f5f5 ;

}
.about-wrapper{
    display: flex;
    flex-wrap: wrap;

}
#about h2{
    font-size: 3.2rem;
}

#about p{
    font-size: 1.6rem;
    color: #555;
}
#about small{
    font-size: 1.6rem;
    color: #666;
    font-weight: 700;
}
.about-img{ 
    flex: 1 1 400px;
    padding: 30px;
    /* border: 2px solid black; */
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
}
@keyframes about-img-animation {
    100%{
        transform: translate(0);
    }
    
}
.about-text{
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    /* border: 2px solid black; */
    transform: translateX(-150%);
    animation: about-txt-animation 1s ease-in-out forwards;
}
@keyframes about-txt-animation {
    100%{
        transform: translate(0);
    }
    
}


.about-img img {
    display: block;
    height: 400px;
    margin: auto;
    max-width: 100%;
    object-fit: cover;
}

/* ########################category################ */

#food{
    padding: 5rem 0 10rem 0;
}
#food h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}

.food-container{
    display: flex;
    justify-content: space-between;
}
.food-container img{
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
.img-container{
    margin: 0 1rem;
    position: relative;
}
.img-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all .3s ease-in-out .1s;
}

.img-content h3{ 
    color: #fff;
    font-size: 3rem;
}
.img-content a{ 
    font-size: 1.2rem;  
}

.img-container::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
    
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all .3s ease-in-out;
}


.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}

.img-container:hover .img-content{
    opacity: 1;
    top: 40%;
}










/* ########################category################ */

.category-container{
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* height: 100%; */
    font-size: 1.6rem;
    margin-top: 30px;
    margin-bottom: 30px;
}
.category-list{
    position: relative;
    height: 500px;
    width: 200px;
    padding: 5px;
    /* background-color: rgb(187, 187, 187); */
}
.category-list .category-unorderlist{
    list-style: none;
    height: 100%;
    width: 100%;
    /* padding: 1px; */
    background-color: #05221c;
    overflow: auto;
}
.category-list .category-unorderlist .category-listitem{
    padding: 5px 14px;
    list-style: none;
    background-color: #05221c;
    margin-bottom: 2px;
}
.category-list .category-unorderlist .category-listitem a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.category-list1{
    position: absolute;
    height: 490px;
    width: 960px;
    padding: 5px 5px;
    background-color: rgb(143, 14, 14);
    top: 1%;
    left: 100%;
    visibility: hidden;
    transition: 0.2s .2s;
    /* display: none; */
   
}
.category-list .category-unorderlist .category-listitem:hover .category-list1{
    /* display: block; */
    visibility: visible;
    transition-delay: 0s;
}

.category-list1-unorderlist{
    padding: 20px 20px;   
}
.category-list1-unorderlist .subcat-heading {
    text-align: center;
    text-transform: uppercase;
    background-color: #05221c;
    font-weight: 700;
}

.category-list1 .leftcat .hover1{
    width: 18%;
    margin-left: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    height: auto;
}
.hover1 .category-list2-unorderlist{
    padding-left: 1px;

}
.hover1 .category-list2-unorderlist a:hover{
    margin-left: 1px;
    color: rgb(2, 235, 14);
}
